 <!-- Footer -->
 <footer class="page-footer font-small  mb-0" >

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3 mb-0" style="background-color: #1A3C40 !important;">
    © 2020 Copyright: Made By  <u>1337 students </u>  with <i class="far fa-heart"></i>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->