 <!-- Footer -->
 <footer class="page-footer font-small  mb-0" >

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white unique-color-dark py-3 mb-0">
    © 2020 Copyright: Made By  <u>milyass , artam , aerragha </u>  with <i class="far fa-heart"></i>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->