.navbar{
    background: -webkit-linear-gradient(#f61d42, #f97e40);
  }
  
  .navbar-brand {
      font-family: "Graphique W01 Regular";
      font-size: 29px;
      margin-left: 3px;
      background: -webkit-linear-gradient(#f61d42, #f97e40);
    }
    
    /* Body black background */
    body {
      background: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from(#424242),
          to(#000000)
        )
        fixed;
    }
    

 .p-button{
  border: 0;
  background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.p-button:hover{
  color: #fff;
}


.btn-grad {
  background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 100%);
  margin-left: 19px;
}
.btn-grad:hover { background-position: right center; }

.form-horizontal
{
  width: 100%;
}

.form-control{
  background: transparent;
  border: transparent;
  border-bottom: 1px solid white;
  border-radius: 0rem;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#424242),
    to(#000000)
  )
  fixed;
}

a{
  color : #7d8a98;
}
a:hover{
  color : #7d8a98;
}

.btn:hover{
  color: #fff;
}