.dropdown-content {
    background-color: #424242;
  }
  .select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: white;
  }
  .dropdown-content li>a, .dropdown-content li>span {
    color: #757575;
  }
  .dropdown-content li.active, .dropdown-content li>span:hover {
    color: black;
  }